<section class="h-screen justify-center items-center flex">
  <div class="max-w-[500px] w-1/2 shadow-xl rounded-xl mx-auto">
    <div class="w-[90%] mx-auto py-10">
      <div class="flex justify-center mx-auto">
        <app-logo></app-logo>
      </div>
      <p class="text-center font-bold text-2xl text-pri my-2">Sign in</p>

      <!-- login  form-->
      <form class="flex flex-col gap-10" (ngSubmit)="onSubmit()">
        <input
          class="input"
          type="email"
          placeholder="johndoe123@gmail.com"
          [(ngModel)]="email"
          id="email"
          name="email"
          required
        />
        <div class="relative">
          <div class="absolute right-5 top-1/2 -translate-y-1/2">
            <img
              (click)="setPasswordVisible()"
              *ngIf="passwordVisible"
              src="./../../../assets/images/eye.png"
              alt="hidden eye"
            />
            <img
              (click)="setPasswordVisible()"
              *ngIf="!passwordVisible"
              src="./../../../assets/images/eyeopen.png"
              alt="visible eye"
            />
          </div>
          <input
            class="input"
            [(ngModel)]="password"
            [type]="passwordInpuField"
            placeholder="password"
            id="password"
            name="password"
            required
          />
          <p *ngIf="error" class="text-red-600 text-sm">
            Please fill in all fields
          </p>
        </div>

        <div class="">
          <button class="input_button" type="submit">sign in</button>
          <p class="text-center p mt-2">Forgot password</p>
        </div>

        <div class="">
          <p class="text-center p mb-2">Dont have account? sign up</p>
          <button class="input_button">create new account</button>
        </div>
      </form>
      <!-- login form  -->
    </div>
  </div>
</section>
